@font-face {
  font-family: 'Neue Montreal';
  src: url('../../assets/fonts/neue-montreal/NeueMontreal-Medium.woff2')
      format('woff2'),
    url('../../assets/fonts/neue-montreal/NeueMontreal-Medium.woff')
      format('woff');
  font-weight: 500;
  font-style: normal;
}
